* {
  margin: 0;
  padding: 0;
}

a {
	color: white;
	text-decoration: none;
}

a.underline {
	text-decoration: underline;
}

#wrapper {
	position: relative;
	height: 100vh;
	width: 100vw;
}

body {
	color: white;
	font-family: 'Nunito Sans', sans-serif;
}

#top {
	position: absolute;
	display: block;
	z-index: 998;	
	width: 100%;
	text-align: center;
	margin-top: 6vh;
	font-weight: 200;
	font-size: 1.8em;
}

#logo {
	font-family: 'Nunito Sans', sans-serif;
	line-height: 160%;
	font-weight: 300;
	margin-bottom: 1em;
	font-size: 1.2em;

}

#moka {
	font-weight: 700;
	font-size: 1.6em;
}

#content {
	display: block;
	z-index: 998;
	position: absolute;
	bottom: 2vh;
	width: 100%;
	text-align: left;
	font-family: 'Lato', sans-serif;
	line-height: 140%;
	font-size: 1.6em;
	font-weight: 200;
}

#left {
	position: absolute;
	left: 5em;
	bottom: 3em;
	display: block;
}

#right {
	position: absolute;
	right: 5em;
	bottom: 3em;
	display: block;
}

.title {
	margin-bottom: 1em;
	line-height: 160%;
}

.cap {
	font-weight: 700;
	font-size: 1.6em;
}


/*slidshow*/
.rslides {
  position: absolute;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
	display: block;
	height: 100vh;
	float: left;
	width: 100%;
	border: 0;
	object-fit: cover;
}

@media screen and (orientation:portrait) {
   #logo img {
	width: 80%;
	}
}


