* {
  margin: 0;
  padding: 0;
}

a {
	color: black;
	text-decoration: none;
}

a.underline {
	text-decoration: underline;
}

#wrapper {
	position: relative;
	height: 100vh;
	width: 100vw;
}

#overlay {
	display: block;
	height: 100vh;
	width: 100%;
	background: white;
	position: absolute;
	opacity: 0.7;
	top: 0;
	z-index: 997;
}

#logo {
	position: absolute;
	display: block;
	z-index: 998;	
	width: 100%;
	text-align: center;
	margin-top: 6vh;
	font-family: 'Nunito Sans', sans-serif;
	font-style: italic;
	font-weight : 200;
	color: gray;
	font-size: 2em;
}

#logo img {
	display: block;
	width: 46%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 1vh;
}

#content {
	display: block;
	z-index: 998;
	position: absolute;
	bottom: 2vh;
	width: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	line-height: 140%;
	font-size: 1em;
}


/*slidshow*/
.rslides {
  position: absolute;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
	display: block;
	height: 100vh;
	float: left;
	width: 100%;
	border: 0;
	object-fit: cover;
}

@media screen and (orientation:portrait) {
   #logo img {
	width: 80%;
	}
}


